/* CSS Styling for GameWorks website */

/* Styling across all pages --Start*/

/* Import the Poppins and Arcade font family for use in my website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
@import url('https://fonts.cdnfonts.com/css/arcade-classic');

.navigationbar {
  width: auto;
  height: 10vh;
  background: transparent;
  /*backdrop-filter: blur(2px);  Q - Do i have a blur navigation bar or a solid colour or nothing? */
  border: 15px solid transparent;
  border-top: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.navigationbar ul li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

.navigationbar button {
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
}

.navigationbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  /* text-transform: uppercase;  Not sure about uppercase nav links?...*/
}

.navigationbar button:hover {
  border: 2px solid gold;
}
.navigationbar .active {
  color: gold;
}

.gameworkswebsitecontainer {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.gameworkswebsitelogob {
  width: 200px;
  height: 50px;
}

.accountlogocontainer {
  margin-left: 10%;
  vertical-align: top;
  display: inline-block;
}

.accountlogo {
  width: 40px;
  height: 40px;
}

.accountcaption {
  display: block;
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}

.accountcaption :hover {
  color: gold;
}

.accountcaption:active {
  color: gold;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url("../Images/BlackHole.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
}

.footer a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}
/* Styling across all pages --END */

/* Styling across the index page --START */
.PlaySpaceInvaders {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Arcade", sans-serif;
}

.gamepagecontainer {
                                          /*how to center this box ctrl i to see width and height*/
  width: 800px;
  height: 650px;
  background-color: transparent;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamecontainer {
  width: 500px;
  height: 500px;
  border: 5px solid white;
  background-color: black;
  padding: 50px;
}

.fullscreenbutton {
  width: auto;
  height: auto;
  float: right;
  margin: 0 0 0 10px;
  transform: translateY(280px);
  cursor: pointer;
}

.tutorialcontainer {
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
  height: auto;
  font-size: 1em;
  font-weight: 600;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

.tutorialcontainer .heading {
  color: gold;
  margin-top: 0;
}

.arrowup {
  height: 35px;
  width: 35px;
  transform: translateY(12px);
  backdrop-filter: none;
}

.arrowleft {
  height: 35px;
  width: 35px;
  transform: translateY(12px);
  backdrop-filter: none;
}

.arrowright {
  height: 35px;
  width: 35px;
  transform: translateY(12px);
  backdrop-filter: none;
}

.spacebar {
  height: 25px;
  width: 80px;
  transform: translateY(7px);
  backdrop-filter: none;
}
/* Styling across the index page --END */

/* Sign in or Register page styling --START*/
.formcontainer {
  margin: 0;
  padding: 0;
  min-height: 10vh;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logincontainer {
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  margin-right: 100px;
  padding: 40px 40px 40px 40px;
  border: 2px solid;
  border-radius: 20px;
}

.registercontainer {
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  margin-left: 100px;
  padding: 40px 40px 40px 40px;
  border: 2px solid;
  border-radius: 20px;
}

.userlogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

.passwordlogo {
  position: absolute;
  height: 22px;
  width: 22px;
  left: -29px;
  top: 13px;
}

.emaillogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

.useridlogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

.formheadings {
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  color: gold;
  font-weight: 600;
  font-family: "Arcade", sans-serif;
}

.formbuttons {
  margin: -15px 0 15px;
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputbox {
  position: relative;
  margin: 10px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: gold;
  font-size: 1em;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
}

input:valid ~ label,
input:focus ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5;
  color: white;
}

.formbuttons {
  width: 30%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.signinsignupcontainer{
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 600;
  flex-direction: column;
  text-align: center;
}
/* Sign in or Register page styling --END */

/* leaderboard page styling --START */
.lhead {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Arcade", sans-serif;
}

.leaderboardtable {
  border: 5px solid gold;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin: auto;
  margin-top: 20px;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  border-spacing: 10px;
  padding: 7px 50px 7px 50px;
}

.leaderboardtable th {
  font-size: 2.5em;
  padding: 5px 20px 5px 20px;
  font-weight: 200;
  text-align: center;
  color: gold;
  font-family: 'ArcadeClassic', sans-serif;
}

.leaderboardtable td {
  text-align: center;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'ArcadeClassic', sans-serif;
}

.lreturn {
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
}

.lreturn a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}

.lbodycontainer {
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px 20px 20px 20px;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
}
/* leaderboard page styling --END */

/* information page styling --START */
.iheader {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Arcade", sans-serif;
}

.informationcontainer{
  text-align: left;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.informationcontainer a {
  color: gold;
}

.informationcontainer h1{
  color: gold;
}
/* information page styling --END */

/* profile page styling --START */
.pheader {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Arcade", sans-serif;
}

.profileinformationcontainer {
  border: 5px solid white;
  margin: auto;
  width: 600px;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 40px 10px 40px 10px;
  border-radius: 20px;
}

.profiletable td{
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
  text-align: left;
}

.profiledescription{
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 160px;
}

.profiledescription a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}
/* profile page styling --END */