/* CSS Styling for GameWorks website */

/* Import the Poppins, Astropolis and Arcade font family for use in my website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.cdnfonts.com/css/arcade-classic");
@import url("https://fonts.cdnfonts.com/css/astropolis");

/* --- Everything below this comment is styling across all pages --- */

/* Below is the scroll bar styling across all pages */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: gold;
}

/* Below is the styling for the navigation bar across all pages */
.navigationbar {
  width: auto;
  height: 80px;
  background: transparent;
  border: 15px solid transparent;
  border-top: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

/* Below is the styling for the unordered list storing the navigation buttons */
.navigationbar ul li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

/* Below is the styling for the navigation buttons across all pages */
.navigationbar button {
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  transition: 1s;
}

/* Below is the styling for the navigation button text */
.navigationbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* Below is the styling for navigation buttons when hovering over them */
.navigationbar button:hover {
  border: 2px solid gold;
}

/* Below is the styling for navigation buttons when active. 
The active button visually shows what page your on */
.navigationbar .active {
  color: gold;
}

/* Below is the styling for the website logo container/div */
.gameworkswebsitecontainer {
  vertical-align: top;
  display: inline-block;
}

/* Below is the styling for the GameWorks website logo .png */
.gameworkswebsitelogob {
  width: 200px;
  height: 50px;
}

/* Below is the styling for the GameWorks profile container/div */
.accountlogocontainer {
  margin-left: 10%;
  vertical-align: top;
  display: inline-block;
}

/* Below is the styling for the profile logo .png */
.accountlogo {
  width: 40px;
  height: 40px;
  transform: translateY(8px);
}

/* Below is the styling for the account logo caption cited 
at the top right of all pages beneath the profile logo icon*/
.accountcaption {
  display: block;
  color: white;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}

/* Below is the styling to make the .accountcaption (above) 
show as gold when the cursor is hovering over it */
.accountcaption :hover {
  color: gold;
}

/* Below is the styling to make the .accountcaption (above) 
show as gold when the user is on that page */
.accountcaption:active {
  color: gold;
}

/* Below is the styling across all page body's */
body {
  margin: 0;
  background-color: black;
  background-image: url("../Images/BlackHole.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: "Poppins", sans-serif; 
  /* Using the font-family 'Poppins' imported at the top of this style.css sheet */
}

/* Below is the styling for the footer div */
.footer {
  margin-top: 30px;
  margin-bottom: 1px;
  width: 100%;
}

/* Below is the styling for the footer text */
.footer p {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
}

/* Below is the styling for the footer text links */
.footer a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}

/* --- Everything above this comment is styling across all pages --- */
/* --- Everything below this comment is the styling across the index.html page --- */

/* Below is the styling for the heading on the index page*/
.PlaySpaceInvaders {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 100;
  font-family: "Astropolis Academy", sans-serif; 
  /* Using the font family 'Astropolis Academy' 
  imported at the top of this style.css sheet */
}

/* Below is a div to hold the game canvas and the fullscreen button*/
.gamepagecontainer {
  width: 800px;
  height: 650px;
  background-color: transparent;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Below is the styling for a placeholder canvas where the game will be */
.gamecontainer {
  width: 500px;
  height: 500px;
  border: 5px solid white;
  background-color: black;
  padding: 50px;
  margin-left: 60px;
}

/* Below is the styling for the full screen image 
that when clicked makes the website fullscreen using javascrpit */
.fullscreenbutton {
  width: auto;
  height: auto;
  float: right;
  margin: 0 0 0 10px;
  transform: translateY(280px);
  cursor: pointer;
}

/* Below is the styling for a div to hold the tutorial and objective statements */
.tutorialcontainer {
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
  height: auto;
  font-size: 1em;
  font-weight: 600;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

/* Below is the styling for the tutorial and objective headers */
.tutorialcontainer .heading {
  color: gold;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

/* Below is the styling for some images within the tutorial and objective paragraphs. 
These are visual aids to help the player play the game */
.arrowup {
  height: 35px;
  width: 35px;
  transform: translateY(12px); /* this styling moves the image to a preferred position */
  backdrop-filter: none;
}

.arrowleft {
  height: 35px;
  width: 35px;
  transform: translateY(12px);
  backdrop-filter: none;
}

.arrowright {
  height: 35px;
  width: 35px;
  transform: translateY(12px);
  backdrop-filter: none;
}

.spacebar {
  height: 25px;
  width: 80px;
  transform: translateY(7px);
  backdrop-filter: none;
}

/* --- Everything above this comment is Styling across the index.html page --- */
/* --- Everything below this comment is Styling across the signin_signup.html page --- */

/* Below is the styling for the header on the at the top of the page */
.shead {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
/* Below is the styling for the div to hold both the log in and the sign up forms */
.formcontainer {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: transparent;
}

/* Below is the styling for a div to hold the login form */
.logincontainer {
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  margin-right: 100px;
  padding: 40px 40px 40px 60px;
  border: 2px solid;
  border-radius: 20px;
}

/* Below is the styling for a div to hold the register form */
.registercontainer {
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  margin-left: 100px;
  padding: 40px 40px 40px 60px;
  border: 2px solid;
  border-radius: 20px;
}

/* Below is the styling for a div to hold the buttons for each form */
.formbuttoncontainer {
  width: 100%;
  display: block;
  justify-content: space-between;
}

/* Below is the styling for the buttons below each form */
.formbuttoncontainer button {
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  margin: 20px 10px 0 10px;
}

/* Below is the styling for the bottons when hovering over them */
.formcontainer button:hover {
  border: 2px solid gold;
}

/* below is the styling for the images inline with their respective input, 
within the sign in and register form */
.userlogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

.passwordlogo {
  position: absolute;
  height: 22px;
  width: 22px;
  left: -29px;
  top: 13px;
}

.emaillogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

.useridlogo {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -29px;
  top: 13px;
}

/* Below is the styling for the form headings */
.formheadings {
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  color: gold;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Below is the styling for both forms */
form {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Below is the styling for the input boxes within both forms */
.inputbox {
  position: relative;
  margin: 10px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

/* Below is the styling for the input boxes' labels, within both forms */
.inputbox label {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  color: gold;
  font-size: 1em;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
}

/* Below is more styling for the input boxes' labels within both forms.
This makes the labels move above the input box,
this allows the user to see what they are typing */
.inputbox input:valid ~ label,
.inputbox input:focus ~ label {
  top: -5px;
}

/* Below is the styling for the input, within the input boxes, within both forms */
.inputbox input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5;
  color: white;
}

/* Below is the styling for the information container beneath both forms */
.forminformationcontainer {
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 600;
  flex-direction: column;
  text-align: center;
}

/* Below is the styling for the information container links beneath both forms */
.forminformationcontainer a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}

/* --- Everything above this comment is the styling for the Signin_signup.html page --- */
/* --- Everything below this comment is the styling for the leaderboard.html page --- */

/* Below is the styling for the heading at the top of the page */
.lhead {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Below is the styling for the leaderboard div */
.Leaderboardbox {
  display: flex;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 600px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

/* Below is the styling for the placing images for 1st, 2nd, 3rd place within the leaderboard */
.trophy{
  width: 30px;
  height: 30px;
}
.secondmedal{
  width: 30px;
  height: 30px;
}
.thirdmedal{
  width: 30px;
  height: 30px;
}

/* Below is the styling for the leaderboard table */
.leaderboardtable {
  margin: auto;
  margin-top: 20px;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  border-spacing: 10px;
  padding: 7px 0 7px 0;
}

/* Below is the styling for the leaderboard table headings */
.leaderboardtable th {
  font-size: 1.7em;
  padding: 5px 20px 5px 20px;
  font-weight: 100;
  text-align: center;
  color: gold;
  font-family: "Astropolis Academy", sans-serif; 
  text-transform: uppercase;
}

/* Below is the styling for the leaderboard table data */
.leaderboardtable td {
  text-align: center;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "ArcadeClassic", sans-serif;
}

/* Below is the styling for the return text, 
located beneath the leaderboard div */
.lreturn {
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
}

/* Below is the styling for the return text link, 
located beneath the leaderboard div */
.lreturn a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}

/* Below is the styling for the leaderboard information div, 
located beneath the return text */
.lbodycontainer {
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: white;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px 20px 20px 20px;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
}

/* --- Everything above this comment is styling for the leaderboard.html page --- */
/* --- Everything below this comment is styling for the information.html page --- */

/* Below is the styling for the header located at the top of the page */
.iheader {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Below is the styling for the div that contains informational text */
.informationcontainer {
  text-align: left;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

/* Below is the styling for the links throughout the text */
.informationcontainer a {
  color: gold;
}

/* Below is the styling for the heading 1's throughout the text */
.informationcontainer h1 {
  color: gold;
}

/* Below is the styling for the heading 3's throughout the text */
.informationcontainer h3 {
  color: gold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* Below is the styling for the un-ordered list within the text */
.informationcontainer ul {
  text-align: left;
  padding: 0 0 0 0;
}

/* Below is the styling for the un-ordered list's text within the text */
.informationcontainer ul p {
  text-align: left;
  padding: 0 0 0 0;
}

/* Below is the styling for the un-ordered lists list items within the text */
.informationcontainer ul li {
  margin-left: 20px;
}

/* Below is the styling for the un-ordered list, list markers within the text */
.informationcontainer ul li::marker {
  color: white;
}

/* --- Everything above this comment is styling for the information.html page --- */
/* --- Everything below this comment is styling for the profile.html page --- */

/* Below is the styling for the header located at the top of the page */
.pheader {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: gold;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Below is the styling for the profile information div, 
containing a table of the users profile information*/
.profileinformationcontainer {
  border: 1px solid white;
  margin: auto;
  width: 650px;
  height: 450px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: block;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 20px 10px 40px 10px;
  border-radius: 20px;
}

/* Bellow is the styling for a profile image,
 located above the profile information table */
.profilelogo {
  width: 80px;
  height: 80px;
}

/* Below is the styling for the profile information table */
.profiletable {
  justify-content: center;
  display: flex;
}

/* Below is the styling for the table data with class name "ptabletitle" */
.profiletable td.ptabletitle {
  width: 150px;
  padding: 0 50px 0 100px;
}

/* Below is the styling for the table data */
.profiletable table td {
  padding: 10px 5px 10px 5px;
  width: 300px;
  height: 20px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}

/* Below is the styling for the log out button, 
located beneath the profile table */
.logoutbutton button {
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  margin: 20px 0 0 0;
  border-radius: 15px;
}

/* Below is the styling for the log out button,
when the users cursor is hovering over it */
.logoutbutton button:hover {
  border: 2px solid gold;
}

/* Below is the styling for the user information div, 
containing informational text to aid the user*/
.userinformationcontainer {
  border: 1px solid white;
  margin: auto;
  width: 800px;
  height: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: block;
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 30px 10px 20px 10px;
  border-radius: 20px;
}

/* Below is the styling for the user information text */
.userinformationcontainer p {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  margin: 0 0 10px 0;
}

/* Below is the styling for the user information text links */
.userinformationcontainer a {
  color: gold;
  font-weight: 900;
  text-decoration: none;
}
/* --- everything above this comment is styling for the profile.html page --- */
